// COLORS
$red: rgb(193, 35, 45);
$darkRed: rgb(178, 19, 37);
$primaryTextColor: #2e2d2d;
$secondaryTextColor: white;

// SPACING
$base-padding: 5px;
$base-margin: 10px;

// BORDERS
$base-border-thickness: 1px;
$base-border-radius: 20px;

// FONTS
$font-size-sm: 10px;
$base-font-size: 16px;
$font-size-lg: 24px;
$font-size-xl: 36px;
$font-size-xxl: 48px;

