@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//Sass Variables
@import 'variables';

//Base css styles
@import 'base';

//Display flex and accompanying styles
@import 'layout';

//Utilities
@import 'utilities';

@import 'mediaQueries';

* {
    // outline: red 1px solid;
    font-family: lato;
}

a {
    cursor: pointer;
}

/*Navbar*/
.navbar {
    background-color: $red;
    color: $secondaryTextColor;

    div{
        h1 {
            left: 50px;
        }

        .nav-icon-container {
            width: 120px;
        }
    }
}

/*POKESEARCH*/
.poke-search {

    form {
        input {
            border: 0;
            border-bottom: 1px solid $primaryTextColor;
            font-size: 16px;
        }

        button {
            background: content-box;
            border: 0;
            img {
                width: 32px;
            }
        }
    }
}

/*POKEMON CARD*/
h4.text-left {
    width: 60px;
}

.pokemon-card {
    width: 350px;
    overflow: hidden;

    .pokeball-card {
        top: -125px;
        width: 500px;
        height: 350px;
        z-index: -1;
        background-color: $darkRed;
    }

    .info {
        z-index: 2;
    }

    .pokemon-image-container {
        width: 250px;
        height: 250px;
        
        img {
            width: 250px;
        }
    }

    .stat-type {
        color: gray;
    }
}

/*POKEMON PAGINATION*/
.page-numbers:hover {
    color: $darkRed;
}

.page-number-clicked {
    text-decoration: underline 1px solid red;
}